{% extends 'app/base.html' %} {% block content %}

<h1>Игры</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Дата и время</th>
      <th scope="col">Оппонент</th>
      <th scope="col">Счет</th>
    </tr>
  </thead>
  <tbody>
    {% for game in games %}
    <tr>
        <th scope="row">Эверест</th>
        <td>{{game.Game_day}}</td>
        <td>{{game.Opponent}}</td>
        <td>{{game.Goals}} - {{game.Opponent_goals}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
